@font-face {
  font-family: 'police_dune';          /* nom que tu choisiras pour le CSS */
  src: url('../fonts/Good\ Times\ Rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'police_texte';          /* nom que tu choisiras pour le CSS */
  src: url('../fonts/DINNextLTPro-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Normalize */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'police_dune', sans-serif;
}


#titre_principal {
  height: 30vh;
  width: auto;
  padding-top: 40vh;
}

.logo-burger {
  position: absolute;
  top: 10vh;
  left: 20px;
  height: 5vh;
  width: 5vh;
  z-index: 999;
}
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  max-height: 30vh;
  width: 30vh;
  z-index: 999;
}

.logo-droite-haut {
  position: fixed;
  top: 5vh;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  z-index: 999;
}

.logo-wb,
.logo-leg,
.logo-fb,
.logo-tw,
.logo-insta {
  height: 4vh;
  width: 4vh;
  z-index: 999;
}

.logo-droite-bas {  
  position: fixed;
  bottom: 10vh;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  z-index: 999;
}

/* Dimensionner les diapos et leur contenu */
/* Ajouter un fond unique, couvrant l'écran */
/* Fixer le fond, et hop ! */
section {
  height: 100vh;
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

section>h1 {
  font-size: 10vh;

}




section:nth-of-type(1) {
  /* On peut aussi mettre un gif animé ou un webp animé... */
  background-image: url("../medias/images/Dune03.webp");
}

section:nth-of-type(2) {
  background-image: url("../medias/images/Dune04.webp");
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

section:nth-of-type(2)>div {
  width: 50vw;
  height: calc(50vw * 390 / 640);
  position: relative;
}

#video {
  width: 35vw;
  height: calc(35vw * 390 / 640);
  display: block;
  position: absolute;
  top: 30%;
  left: 20%;

}

#video.scroll {
  position: fixed !important;
  width: 25vw !important;
  height: auto !important;
  aspect-ratio: 64/39 !important;
  top: 2% !important;
  left: 1% !important;
  z-index: 100;
}


section:nth-of-type(3) {
  background-image: url("../medias/images/Dune06.webp");
}

section:nth-of-type(4) {
  background-image: url("../medias/images/Dune02.webp");

}

.scroller {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroller section {
  scroll-snap-align: start;
}

#carousel_entier {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2%;
  margin-top: 5%;

}

.carousel-container {
  position: relative;
  width: 40vw;
  height: 60vh;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel img {
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  flex-shrink: 0;

}



.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 3;
}

.controls span {
  color: white;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 30px;
  transition: 0.5s;
}

.controls span:hover {
  transform: scale(1.2);
  transition: 0.5s;
}


.personnage {
  display: none;
  /* Masque tous les noms par défaut */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  margin: 10%;
}

.personnage.active {
  display: block;
  /* Affiche le nom actif */
  opacity: 1;
}

.personnage>h2 {
  font-size: 60px;
}

.personnage>p {
  font-size: 35px;
}


section:nth-of-type(5) {
  background-image: url("../medias/images/dune-production_01.jpg");

}


.container-diapo {
  display: flex;
  justify-content: center;
  align-items: center;   
  width: 100vw;          
  height: 70vh;          
  background-color: rgba(255, 255, 255, 0.4); 
  margin: 5vh 0;          
  padding: 0;            
}


.slideshow {
  position: relative;
  width: 90%;      /* le diapo ne colle pas aux bords */
  height: 90%;     /* le diapo reste dans la bande transparente */
  overflow: hidden;
}  

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;  /* la transition */
}

.slide.active {
  opacity: 1;
}






#infos_film {
  display: grid;
  height: 80vh;
  grid-template-columns: 1fr 50vw 1fr 5vw;
  grid-template-rows: 10% 1fr 4em 1fr;
}

.paragraphe {
  grid-column: 1/5;
  grid-row: 3/5;

  background-color: rgba(255, 255, 255, 0.6);
  padding: 4em;
  text-align: justify;
  font-size: 20px;
  columns: 3;
  column-rule: 1px solid white;
  column-gap: 5px;
}


.paragraphe>p {
  font-family: 'police_texte', sans-serif;
  grid-column: 1;
  margin: 3%;
  padding-right: 5%;
  margin-top: 0%;
  


}








.image_film {
  grid-column: 3;
  grid-row: 2/4;
}

.image_film>img {
  height: 100%;
  object-fit: cover;
}

/*
section:nth-of-type(6) {
  background-image: url("../medias/poster/dune_poster_vierge.png");

}

*/



section:nth-of-type(6) {
  padding-top: 5%;
  background-image: url("../medias/images/07.jpg");


}


section:nth-of-type(6)>div {
  display: grid;
  height: 80vh;
  grid-template-columns: 5vw 1fr 5vw 1fr 5vw;
  grid-template-rows: 1fr 20vh 20vh;


}

section:nth-of-type(6)>div>h1 {
  grid-column: 2;
  grid-row: 1;
  align-content: end;
  font-size: 30px;
}
.background {
  grid-column: 1/6;
  grid-row: 2/4;
  background-color: rgba(255, 255, 255, 0.6);

}

.position {
  grid-column: 4;
  grid-row: 1/3;
  
}

#carte {
  width: 40vw;
  height: 50vh;
  margin: auto;
  z-index: 50;
}

#bouton_carte {
  grid-column: 2;
  grid-row: 2;
  width: 50%;
  margin: 4%;
  padding: 3%;
  font-size: 1.1rem;
  font-weight: 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  justify-self: center;

  background: bisque;
  color: black;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: 0.25s ease;
  backdrop-filter: blur(4px);
}


#bouton_carte:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  opacity: 0.95;
}


#bouton_carte:active {
  transform: scale(0.96);
}


#bouton_carte:focus {
  outline: none;
}